.card-item {
    background-color: #fff;
    padding-top: 24px;
    padding-bottom: 24px;

    .card-body {
        display:flex;
        align-items: center;

        h3 {
            font-weight: 400;
        }

        .card-remove {
            border: none;
            background-color: transparent;
            color: gray;
            cursor: pointer;
        }
    }
    .card-figure {
        width: 50%;
        height: 160px;

        .card-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .card-footer {
        display:flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #fc591f;
        padding-bottom: 24px;
        
        p {
            font-size: 16px;
            font-weight: 700;
        }
        .card-action {
            display: flex;
            text-align: center;

            .card-quantity {
                font-size: 14px;
                font-weight: bold;
                border-bottom: 1px solid grey;
                border-top: 1px solid grey;
                padding-left: 20px;
                padding-right: 20px;
                height: 44px;
                line-height: 46px;
            }

            .card-button {
                background-color: #fc591f;
                border: 1px solid #fc591f;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 700;
                height: 46px;
                padding-left: 20px;
                padding-right: 20px;
                outline: 0;
                cursor: pointer;

                &:hover {
                    opacity: .8;
                }

                &.card-button-decrease {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }

                &.card-button-increase {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }
    }
}